<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Admin</a></li>
    <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
  </ul>
</nav>

<div class="current-user-card box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://www.scrgrowthhub.co.uk/wp-content/uploads/placeholder-user-400x400-1.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          Logged in as <strong><%= 'temp_admin' %></strong> <a href="/auth/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
          <br>
          <b><%= 'first name last name' %></b>
        </p>
      </div>
    </div>
  </article>
</div>

<h2 class="subtitle">Bot state</h2>

<table class="table">
  <thead>
    <tr>
      <th>Bot name</th>
      <th>Current state</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AdminBot</th>
      <td>true</td>
    </tr>

    <tr>
      <th>PdrBot</th>
      <td><%= @pdr_bot[:enabled] %></td>
    </tr>

    <tr>
      <th>JeniaBot</th>
      <td><%= @jenia_bot[:enabled] %></td>
    </tr>

    <tr>
      <th>ExampleBot</th>
      <td><%= @example_bot[:enabled] %></td>
    </tr>
  </tbody>
</table>

