<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SocialUp Web :: Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.css"/>

  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="admin" class="layout">
    <aside class="sidebar menu block">

      <p class="menu-label">Instruments</p>
      <ul class="menu-list">
        <li><%= link_to 'Logs', ENV['NAVBAR_LOGS_LINK'] %></li>
        <li><%= link_to 'Adminer', ENV['NAVBAR_DATABASE_LINK'] %></li>
        <li><%= link_to 'Redis', ENV['NAVBAR_REDIS_LINK'] %></li>
        <li><%= link_to 'Sidekiq', ENV['NAVBAR_SIDEKIQ_LINK'] %></li>
        <li><%= link_to 'Public page', ENV['NAVBAR_PUBLIC_PAGE_LINK'] %></li>
        <li><%= link_to 'Dashboard', admin_dashboard_index_path %></li>
      </ul>
      <hr>

      <p class="menu-label">JeniaBot</p>
      <ul class="menu-list">
        <li><%= link_to 'Send message', new_admin_jenia_bot_message_path %></li>
      </ul>
      <hr>

      <p class="menu-label">PdrBot</p>
      <ul class="menu-list">
        <li><%= link_to 'Send message', new_admin_pdr_bot_message_path %></li>
      </ul>
    </aside>

    <div class="page block">
      <% if flash[:error] %>
        <article class="message is-danger">
          <div class="message-body">
            <%= flash[:error].gsub("\n", "<br>") %>
          </div>
        </article>
      <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>