<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SocialUp Web :: Admin</title>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.css"/>

  <style>
    .layout {
      display: flex;
      height: 100vh
    }

    .layout .block {
      padding: 30px;
      height: 100%
    }

    .layout .page {
      width: 100%;
    }

    .sidebar {
      width: 400px;
      margin: 0 !important;
      background-color: #eaeaea;
    }

    .table td, .table th {
      padding: 5px 10px;
    }

    .current-user-card {
      width: 400px;
    }

    .form-wrapper {
      width: 600px;
      padding: 20px;
      background-color: #eaeaea;
    }
  </style>
</head>

<body>
  <div id="admin" class="layout">
    <aside class="sidebar menu block">

      <p class="menu-label">Instruments</p>
      <ul class="menu-list">
        <li><a href="<%= ENV['NAVBAR_LOGS_LINK'] %>">Logs</a></li>
        <li><a href="<%= ENV['NAVBAR_DATABASE_LINK'] %>">Adminer</a></li>
        <li><a href="<%= ENV['NAVBAR_REDIS_LINK'] %>">Redis</a></li>
        <li><a href="<%= ENV['NAVBAR_SIDEKIQ_LINK'] %>">Sidekiq</a></li>
        <li><a href="<%= ENV['NAVBAR_PUBLIC_PAGE_LINK'] %>">Public page</a></li>
        <li><a href="/">Dashboard</li>
      </ul>
      <hr>

      <p class="menu-label">JeniaBot</p>
      <ul class="menu-list">
        <li><a href="/admin/jenia_bot/messages/new">Send message</a></li>
      </ul>
      <hr>

      <p class="menu-label">PdrBot</p>
      <ul class="menu-list">
        <li><a href="/admin/pdr_bot/messages/new">Send message</a></li>
      </ul>
    </aside>

    <div class="page block">
      <%= yield %>
    </div>
  </div>
</body>
</html>