<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Admin</a></li>
    <li><a href="#">Jenia Bot</a></li>
    <li class="is-active"><a href="#" aria-current="page">Auto Answers</a></li>
  </ul>
</nav>

<auto-answer-form
  owner="<%= ENV['TELEGRAM_APP_OWNER_ID'] %>"
></auto-answer-form>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>author</th>
      <th>chat</th>
      <th>question</th>
      <th>answer</th>
      <th></th>
      <th>approved</th>
      <th>created</th>
      <th></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @auto_answers.each do |auto_answer| %>
      <tr
        is="auto-answer-row"
        id="<%= auto_answer.id %>"
        author_id="<%= auto_answer.author_id %>"
        chat_id="<%= auto_answer.chat_id %>"
        trigger="<%= auto_answer.trigger %>"
        answer="<%= auto_answer.answer %>"
        approved="<%= auto_answer.approved %>"
        created_at="<%= auto_answer.created_at.strftime("%H:%M %d.%m.%Y") %>"
      ></tr>
    <% end %>

  </tbody>
</table>

